* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}


:focus {
  outline: 0;
}


ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}



@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html {
  height: 100vh;
  font-size: 16px;
}

body {
  background-color: #f2f4f8;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px 0 rgba(37, 37, 37, 0.1);
  align-items: center;
  height: 3.5rem;
  padding: 0.5rem 0;
  background-color: #ffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.leftHead {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}



#toggleNavbar {
  display: none;
}


.rightHead {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}

.logo {
  
  height: 1.7rem;
  flex-grow: 0;
  margin-right: 0.5rem;
}

.cTag {
  color: #e20074;
}

.logoText {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.2rem;
}

.notifyBell,
.userPhoto {
  width: 2rem;
  height: 2rem;
}

.userName {
  font-size: 1rem;
  margin: 0.1rem 0;
  font-family: "Roboto", sans-serif;
}

.userProject {
  font-size: 0.6rem;
  font-family: "Roboto", sans-serif;
  color: #77797c;
  font-weight: bold;
}



aside {
  width: 13.5rem;
  height: 100%;
  position: fixed;
  background-color: #ffff;
  margin-top: -18px;
  padding-top: 0.7rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

hr {
  width: 90%;
  border: solid 1px #f2f4f8;
}

.side-1,
.side-2,
.side-3,
.side-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.7rem 0.6rem 0.7rem 1.5rem;
  
}

.sub1,
.detailType {
  font-size: 0.7rem;
  text-align: left;
  color: #e20074;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.detailType {
  color: black;
}

.side-4 {
  padding: 0;
}

.allDetail {
  width: 100%;
  height: 2.2rem;
  display: flex;
  vertical-align: center;
  align-items: center;
}



.allDetail:hover {
  background: #ea168b;
  transition: ease-out 0.2s;
  cursor: pointer;
}

.allDetail:hover .detailType {
  color: white;
  transition: ease-out 0.2s;
}

.allDetailLogo {
  padding-left: 1.5rem;
  padding-right: 0.7rem;
  height: 1rem;
}

.sub2,
.request {
  color: #b8b8b8;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

.request {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  align-items: center;
}

.requests {
  width: 100%;
}

.requestType {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.sub1 {
  margin: 0.2rem 0;
  font-weight: 700;
}

.sub2 {
  margin: 0.5rem 0;
}

.sideSub3 {
  width: 100%;
}

.requestCount {
  border-radius: 50%;
  background-color: #cbcbcb;
  width: 1.2rem;
  height: 1.2rem;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  padding: 0.1rem;
}



.request:hover .requestType {
  color: black;
  transition: ease-out 0.3s;
}

.request:hover .requestCount {
  background-color: #ea168b;
}



section {
  margin: 4rem 2rem 0 15rem;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  background-color: #f2f4f8;
  overflow: hidden;

}

.allGroups {
  color: #ea168b;
  font-weight: bold;
  letter-spacing: 0.01rem;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  height: 2rem;
  text-align: left;
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.top {
  background-color: #f3f6f9;
  box-shadow: inset 0 -1px 0 0 #e9e9e9;
}

.recommedNextPage {
  background-color: #f2f4f8;
  color: #676767;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
}

.topButtons {
  font-size: 1rem;
}

.btn {
  border-radius: 50%;
  background-color: #dfe3e7;
  color: #9b9b9b;
  border: 0px solid;
}

.btn:hover {
  background: #e20074;
  cursor: pointer;
  color: white;
  transition: ease-out 0.2s;
}

.selectGroups {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f4f8;
}

.group {
  display: flex;
  height: 3.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 rgba(126, 142, 177, 0.3);
  background-color: #fff;
  margin-right: 0.5rem;
  width: 12rem;
}

.groupMentorName {
  display: flex;
  flex-direction: column;
  text-align: left;
  opacity: 0.7;
}

.groupLogo {
  color: #e20074;
  margin: 0 0.5rem;
  height: 1.6rem;
}

.groupName,
.mentorName {
  white-space: nowrap;
  width: 7rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groupName {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.mentorName {
  font-size: 0.6rem;
  color: #4a4a4a;
}

.addSign {
  border: 5px #e20074;
  border-radius: 50%;
  margin: 0 0.5rem;
  height: 1.3rem;
}

.addSign:hover {
  cursor: pointer;
}

.tableTop {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}

.tableOutlet {
  margin: 1rem 0;
  padding: 0.5rem 1.2rem 2rem 1.2rem;
  background-color: #ffffff;
  border-radius: 4px;
}

.newGroup {
  text-align: center;
  color: #e20074;
  background-color: #fff;
  border-radius: 5px;
  border: 1px;
  height: 2rem;
  width: 7rem;
  font-size: 0.8rem;
  border: solid 1px #e20074;
}

/* hover on add new group  */

.newGroup:hover {
  color: white;
  background: #e20074;
  transition: ease 0.2s;
}

.groupOwnerHid,
.createdDateHid {
  text-align: left;
  padding-left: 3.4rem;
}



.rightTop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

::placeholder {
  color: #4a4a4a;
  opacity: 0.5;
}

.bx {
  position: absolute;
  left: 2px;
  opacity: 0.5;
  padding-left: 0.2rem;
}



.inputGroup {
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  height: 1.9rem;
  width: 13rem;
  text-align: left;
  font-size: 0.8rem;
  border: solid 1px #dee3e6;
  margin-right: 0.5rem;
  padding-left: 1.5rem;
}

.inputGroup:hover {
  border: 1px solid #e20074;
  transition: ease-out 0.2s;
  cursor: pointer;
}

input[type="text"] {
  color: #2a2a2a;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #4a4a4a;
}

thead,
tr,
.checkbox {
  background-color: rgb(230, 230, 230);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  text-align: left;
  color: solid black;
}


thead,
tbody,
tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  border-top: solid 1px #e8e9eb;
}

tr:not(:last-child) {
  border-bottom: solid 1px #e8e9eb;
}

tbody {
  display: block;
  height: 20rem;

  overflow: scroll;
  border-bottom: solid 1px #e8e9eb;
  border-top: solid 1px #e8e9eb;
}



tbody {
  overflow-x: hidden;
}

tbody::-webkit-scrollbar {
  width: 2px;
  background: #dee3e6;
}
tbody::-webkit-scrollbar-thumb {
  background: #bebebe;
}


.checkbox {
  border-color: #f2f4f8;
  margin-right: 1rem;
  vertical-align: middle;
}

.checkbox:hover {
  cursor: pointer;
}


.checkboxGroupNameWidth {
  vertical-align: baseline;
  display: flex;
  align-items: center;
}

.subCheckbox {
  vertical-align: top;
}
.sort {
  margin-left: auto;
}

.sort:hover {
  cursor: pointer;
  border: solid 1px #e20074;
  transition: all 0.3s ease;
}



.groupNameLink {
  color: #e20074;
  padding-left: 0.4rem;
}

.imageText {
  display: inline-flex;
  align-items: center;
}

th {
  font-weight: bold;
  font-size: 0.7rem;
}

.actions {
  padding-left: 5.5rem;
  text-align: center;
  transition: all 0.3s ease;
}

th,
td {
  padding: 0.5rem 0;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}

tbody,
tr {
  background-color: #fff;
}

.joinBtn {
  color: #e20074;
  height: 1.4rem;
  width: 4rem;
  font-size: 0.66rem;
  border-radius: 3px;
  border: solid 1px #ea168b;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
}


.joinBtn:hover {
  background: #e20074;
  color: white;
  transition: ease 0.2s;
  cursor: pointer;
  font-weight: 100;
  transition: all 0.3s ease;
}

thead tr:first-child {
  background-color: #f2f4f8;
}

.userIcon {
  width: 0.8rem;
  height: 0.7rem;
  margin-right: 0.2rem;
  margin-right: 0.3rem;
  transition: all 0.3s ease;
}

a {
  color: #4a4a4a;
}

.bottomOptions {
  text-align: left;
  color: #676767;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

#tableList {
  flex-direction: row-reverse;
}

.showing {
  padding-right: 0.5rem;
  border-right: 1px solid #979797;
  transition: all 0.3s ease;
}

.goto {
  padding: 0 0.5rem;
  transition: all 0.3s ease;
}

.gotoInput {
  border: solid 1px #979797;
  background-color: #fff;
  width: 1.5rem;
}

.pageNumbers {
  margin: 0 0.5rem;
  border-left: 1px solid #979797;
  transition: all 0.3s ease;
}

ul {
  position: relative;
  display: flex;
  padding: 0 0.2rem;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin: 0 0.2rem;
}

ul li.list {
  text-align: center;
}

ul li a {
  display: block;
  text-decoration: none;
}

ul li.list:hover a {
  color: #e20074;
}

.active {
  color: #e20074;
  font-weight: 600;
}

.allPageNo {
  padding: 0 0.5rem;
  transition: all 0.3s ease;
}

.pageNumbersBtn {
  width: 1.2rem;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.selectGroups {
  overflow-x: scroll;
}

.selectGroups::-webkit-scrollbar {
  display: none;
}



@media only screen and (max-width: 1431px) {
  .checkboxGroupNameWidth {
    display: flex;
  }
  
}

@media only screen and (max-width: 1364px) {
  .groupNameLink {
    width: 9rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1120px) {
  .selectGroups {
    overflow: auto;
    justify-content: space-between;
    transition: all 0.3s ease;
  }

  .inputGroup {
    width: 8rem;
    text-align: left;
    transition: all 0.3s ease;
  }

  .bottomOptions {
    font-size: 0.6rem;
    transition: all 0.3s ease;
  }

  tbody {
    height: 16.5rem;
    transition: all 0.3s ease;
  }

  .tableOutlet {
    padding-bottom: 1rem;
    transition: all 0.3s ease;
  }
}

@media only screen and (max-width: 901px) and (orientation: landscape){
  #toggleNavbar{
    display: block;
  }

  aside{
    overflow: auto;
    transform: translate(-200%);
    transition: all 0.3s ease-in-out;
  }

  .side-4{
    margin-bottom: 4rem;
    }

  .fa-bars {
    color: #e20074;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    transition: all 0.3s ease;
  }

  section {
    margin-left: 30%;
  }
  .navbarclose {
    transform: translate(1%);
    z-index: 1;
    width: 14rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  

}

@media only screen and (max-width: 900px) {
  .groupOwnerHid {
    display: none;
  }

  .createdDateHid {
    display: none;
  }

  .actions {
    padding-right: 0.5rem;
    text-align: right;
    transition: all 0.3s ease;
  }

  .inputGroup {
    text-align: left;
    width: 8rem;
    height: 1.5rem;
    font-size: 0.6rem;
    transition: all 0.3s ease;
  }
  .newGroup {
    height: 1.5rem;
    width: 4.5rem;
    font-size: 0.6rem;
    text-align: center;
    transition: all 0.3s ease;
  }

  aside {
    width: 25%;
  }

  section {
   
    margin-left: 4%;
  }
 
  .sub2,
  .request {
    font-size: 0.7rem;
  }



  .groupName {
    font-size: 0.7rem;
  }

  .checkboxGroupNameWidth {
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.3s ease;
  }
}

@media only screen and (max-width: 641px) {
  .rightHead {
    display: flex;
  }

  .fa-bars {
    color: #e20074;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    transition: all 0.3s ease;
  }
  .side-1,
  .side-2,
  .side-3,
  .side-4 {
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.3s ease;
  }

  .allDetailLogo {
    padding-left: 0;
    transition: all 0.3s ease;
  }

  .logo {
    margin: 0;
  }

  .fa-bars:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  #toggleNavbar {
    display: block;
  }

  aside {
    transform: translate(-200%);
    transition: all 0.3s ease-in-out;
  }

  .navbarclose {
    transform: translate(1%);
    z-index: 1;
    width: 14rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .userInfo {
    display: none;
    transition: all 0.3s ease;
  }

  .userPhoto {
    margin-left: 0.5rem;
    transition: all 0.3s ease;
  }

  section {
    margin: 4rem 2rem 2rem 2rem;
    transition: all 0.3s ease;
  }

  .group {
    height: 2rem;
    padding: 0.4rem 0;
    transition: all 0.3s ease-in-out;
  }

  .groupName,
  .addGroup {
    font-size: 0.6rem;
    transition: all 0.3s ease;
  }

  .groupName {
    margin-bottom: 0.1rem;
    transition: all 0.3s ease;
  }

  .groupLogo {
    padding: 0 0.3rem;
    height: 1.2rem;
    transition: all 0.3s ease;
  }

  .groupLogotable {
    width: 1rem;
    height: 1rem;
    flex-grow: 0;
  }

  .mentorName {
    font-size: 0.45rem;
    transition: all 0.3s ease;
  }

  .addGroup {
    padding: 0 0.3rem;
    margin: 0 0.2rem;
    transition: all 0.3s ease;
  }

  .checkbox {
    height: 10px;
  }
}

@media only screen and (max-width: 465px) {
  header {
    justify-content: center;
  }

  .rightTop {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
  }

  .rightHead {
    margin-right: 0.2rem;
    transition: all 0.3s ease;
  }

  .inputGroup {
    width: 5rem;
    font-size: 0.5rem;
    transition: all 0.3s ease;
  }

  .newGroup {
    width: 4rem;
    margin-left: 0.2rem;
    font-size: 0.5rem;
    transition: all 0.3s ease;
  }

  .bottomOptions {
    margin-right: 0;
  }

  .notifyBell {
    margin-right: 0;
  }

  .joinBtn {
    height: 1rem;
    width: 2.5rem;
    font-size: 0.5rem;
    transition: all 0.3s ease;
  }

  .groupNameLink {
    font-size: 0.6rem;
    transition: all 0.3s ease;
  }

  .mentorName {
    display: none;
  }

  .groupNameLink {
    width: 100px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bottomOptions {
    font-size: 0.5rem;
    transition: all 0.3s ease;
  }

  .logo {
    margin: 0;
  }

  .fa-bars {
    margin-right: 0.4rem;
    transition: all 0.3s ease;
  }
}

@media only screen and (max-width: 375px) {
  header {
    justify-content: space-between;
  }

  .userName {
    font-size: 0.85rem;
    transition: all 0.3s ease;
  }

  .userProject {
    font-size: 0.55rem;
    transition: all 0.3s ease;
  }

  .userInfo {
    margin: 0 0.15rem;
    transition: all 0.3s ease;
  }

  .logo {
    margin-left: 0;
  }

  .logoText {
    font-size: 0.8rem;
    transition: all 0.3s ease;
  }

  .groupNameLink {
    width: 100px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  .bottom {
    font-size: 0.7rem;
    transition: all 0.3s ease;
  }

  .inputGroup {
    width: 5rem;
    transition: all 0.3s ease;
  }

  .newGroup {
    margin: 0;
  }

  .bottomOptions {
    font-size: 0.45rem;
    transition: all 0.3s ease;
  }

  .checkboxGroupNameWidth {
    width: 10rem;
  }
}

@media only screen and (max-width: 465px) {
  header {
    justify-content: space-between;
  }

  .rightHead {
    padding: 0;
  }

  .leftHead {
    padding: 0;
  }

  section {
    margin: 4rem 0.5rem 2rem 0.5rem;
    transition: all 0.3s ease;
  }
}


@media only screen and (max-width: 4000px) and (min-width: 1800px) {
  html {
    font-size: 32px;
  }
  .groupNameLink {
    width: max-content;
  }
  tbody {
    height: calc(100vh - 31rem);
  }
  .checkbox{
    width: 0.7rem;
}
  .groupLogotable{
      width: 1.2rem;
  }
}